<footer class="bg-dark text-white text-center py-3 fixed-bottom">
  <div class="container d-flex justify-content-center gap-3">
    <a href="https://github.com/CeeFish" target="_blank" class="text-white fs-4">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://linkedin.com/in/candace-fisher-mba-developer/" target="_blank" class="text-white fs-4">
      <i class="bi bi-linkedin"></i>
    </a>
    <%
=begin%>
 <a href="mailto:candace.fisher.mba@gmail.com" class="text-white fs-4">
      <i class="bi bi-envelope"></i>
    </a> 
<%
=end%>
  </div>
  <div class="mt-2 small">&copy; <%= Date.current.year %> Candace Fisher</div>
</footer>