<div class="container" style="margin-top: 80px;">
  <section id="about" class="py-5">
    <%= render "pages/about" %>
  </section>

  <section id="projects" class="py-5">
    <%= render "pages/projects" %>
  </section>

  <section id="courses-and-certifications" class="py-5">
    <%= render "pages/courses_and_certifications" %>
  </section>

  <section id="contact" class="py-5">
    <%= render "pages/contact" %>
  </section>
</div>