/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/*
*= require bootstrap
*= require_tree .
*= require_self
*/

html {
  scroll-behavior: smooth !important;
}

section {
  scroll-margin-top: 100px !important;
}

#contact {
  padding-bottom: 100px !important;
}

footer {
  padding: 1rem 0 !important;
  font-size: 0.9rem !important;
}

footer a {
  transition: transform .12s ease, opacity .12s ease !important;
}

footer a:hover {
  color: #ffc107 !important;
  transform: translateY(-3px) !important;
  opacity: 0.9 !important;
}

#navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

#navbar .navbar-nav .nav-link:hover {
  color: #ffc107 !important;
  transform: translateY(-2px) !important;
}